<div class="container">
    <h3> Vehículos <%= link_to 'Nuevo', new_vehicle_path, :class => " btn btn-sm btn-primary"%></h3>
    <div class="row">
        <div class="card-body">
            <table id="table" class="table" >
                <thead>
                    <th>Placa Patente</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <% @vehicles.each do |vehicle|  %>
                    <tr>
                        <td><%= vehicle.vehicle_identifier %></td>
                        <td>
                        <%= link_to 'Ver detalle', vehicle, :class => " btn btn-sm btn-info" %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>